@CHARSET "UTF-8";

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

#sidebarMenu {
	margin-left: 5%;
	margin-bottom: 5%;
	height: 770px;
	overflow: auto;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#sidebarMenu ul {
	padding: 0;
	border: 0;
	list-style: none;
}

#sideEvent {
	margin-right: 5%;
	padding-bottom: 5%;
	border-bottom: 2px solid #ddd;
}

#sideMembDiv {
	margin-top: 10px;
}

.membList {
	margin-top: 5%;
	margin-left: 5%;
	overflow: auto;
	font-family: 'RixSGo M';
	font-size: 12px;
}

.circle {
	margin-top: 5%;
	display: inline-block;
}

.sideShare {
	margin-top: 5%;
	margin-left: 3%;
}

#sideMembDiv {
	display: none;
	margin-left: 3%;
}

#sideMembDiv:hover {
	cursor: pointer;
}

.circle img {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 20px;
}

.meeting_memb .membName {
	vertical-align: middle;
	display: inline-block;
	width: 70px;
	margin-left: 2%;
	margin-right: 10%;
	overflow: hidden;
}

#membPlusPopup {
	display: none;
	position: fixed;
	width: 360px;
	height: 500px;
	z-index: 9000;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -180px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	text-align: center;
}

#membPlusPopup .memb-add {
	width: 100%;
	height: 400px;
	overflow: auto;
	text-align: left;
}

#membPlusPopup .mail-box-cls {
	width: 99%;
	margin: 0 auto;
}

#membPlusPopup .add-email-box {
	height: 40px;
	width: 70%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	font-color: #3ACBA3;
	border-radius: 3px;
	display: inline-block;
}

#firstMessage {
	margin: 5px auto;
}

#new-field {
	margin-top: 10px;
}

#membPlusPopup #memb-close-btn {
	display: inline-block;
	margin-top: 5px;
	margin-right: 2%;
	float: right;
}

#membPlusPopup #memb-plus-btn {
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 5%;
	height: 35px;
}

#membPlusPopup #invite-btn {
	margin-top: 5%;
}

#membPlusPopup #minus-btn {
	display: inline-block;
	margin: 3% auto;
	height: 30px;
}

#mail-box-div {
	height: 15%;
}

#membPlusPopup .inputMessage {
	margin-left: 5%;
}

#addAvailability {
	border: 1px solid green;
	width: 3px;
	height: 3px;
}