@CHARSET "UTF-8";

body {
	font-family: '맑은 고딕', sans-serif;
}

body>.container {
	width: 960px;
}

#img-meetmain {
	width: 150px;
	height: 100px;
}
/* 헤더 css 시작 */
#header-login {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#header-login .inner_header {
	width: 960px;
	margin: 0 auto;
	*zoom: 1;
}

#header-login .inner_header:after {
	content: '';
	display: block;
	clear: both;
}

#header-login .logo img {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#header-login .svc_name {
	float: left;
	margin-top: 6px;
	font-size: 25px;
}

#header-login .svc_name a {
	text-decoration: none;
	color: black;
}

#header-login #join {
	float: right;
	margin-top: 15px;
	margin-left: 20px;
}

#header-login #join a {
	text-decoration: none;
	color: black;
}

#header-login #login {
	float: right;
	margin-top: 15px;
}

#header-login #login a {
	text-decoration: none;
	color: black;
}
/* 헤더 css 끝 */
#maplist {
	/* 스크롤 */
	overflow-y: scroll;
	float: right;
	font-color: black;
	background-color: #FFFFFF;
	width: 280px;
	height: 300px;
	/* border: 1px solid red; */
}

#sidebar {
	position: absolute;
	float: left;
	color: white;
	padding: 10px 5px;
	margin: 0px;
	background-color: #ECECEC;
	width: 180px;
	height: 700px;
	font-weight: 500;
	padding-right: 1px;
	border: 1px solid red;
}

#sidebar a {
	color: white;
	text-decoration: none;
}

#sidebar a:hover {
	color: navy;
}

#content-cal {
	/* 스크롤 */
	/*
	background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  */
	overflow-y: scroll;
	height: 700px;
	padding-left: 480px;
	font-family: 'HanSans';
	padding-left: 20px; /* 190px; */
	min-height: 400px;
	background-color: white;
}

#content-card {
	/*
	background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  */
	height: 500px;
	padding-top: 1px;
	padding-left: 500px;
	font-family: 'HanSans';
	padding-left: 20px; /* 190px; */
	min-height: 400px;
	background-color: white;
}

#content {
	width: 960px;
	margin: 0 auto;
}

#content .main-div {
	/* display: inline-block; */
	float: left;
}

/* SideBar 멤버추가 팝업 시작 */
/* #membPlusPopup {
	display: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 530px;
  width: 380px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 1px;
  text-align: center;
}

#membPlusPopup .memb-add {
  width: 100%;
  height: 80%;
  overflow: auto;
  text-align: left;
}

#membPlusPopup .mail-box-cls {
  width: 99%;
  margin: 0 auto;
}

#membPlusPopup .add-email-box {
  float: left;
  height: 40px;
  width: 70%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 10%;
  font-color: #3ACBA3;
  border-radius: 3px;
  display: inline-block;
}

#membPlusPopup #memb-close-btn {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin-right: 2%;
  float: right;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}

#membPlusPopup #memb-plus-btn {
  float: left;
  margin-top: 5px;
  margin-left: 5%;
  height: 35px;
  line-height: 100%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#membPlusPopup #invite-btn {
  height: 35px;
  margin-top: 5%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#membPlusPopup #memb-plus-btn:hover {
  color: black;
  cursor: pointer;
}

#membPlusPopup #minus-btn {
  display: inline-block;
  margin: 3% auto;
  float: left;
  height: 30px;
  line-height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#membPlusPopup #minus-btn:hover {
  color: black;
}

#mail-box-div {
  height: 15%;
}

#membPlusPopup #memb-plus-btn {
  display: inline-block;
}

#membPlusPopup #memb-close-btn:hover {
  cursor: pointer;
} */
/* SideBar 멤버추가 팝업 끝 */

/* 
.title {
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-weight: bold;
  font-color: grey;
  margin-left: 20px;
}

.section {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  font-color: gray;
  margin-left: 20px;
  margin-top: 20px;
}

.section2 {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  font-color: gray;
  margin-left: 130px;
  margin-top: 20px;
}

#schedulememb .add-email-box {
  float: left;
  height: 40px;
  width: 70%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 10%;
  font-color: #3ACBA3;
  border-radius: 3px;
  display: inline-block;
}

#schedulememb #plus-btn {
  margin-right: 6%;
  float: right;
  height: 30px;
  line-height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#schedulememb #plus-btn:hover {
  color: black;
}

#schedulememb #minus-btn {
  display: inline-block;
  margin: 3% auto;
  float: left;
  height: 30px;
  line-height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#schedulememb #minus-btn:hover {
  color: black;
}

#Go-btn {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
  font-size: 30px;
  height: 530px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 1px;
  margin-bottom: 20px;
}

#Go-btn:hover {
  color: black;
}

#scheduleinfo {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 530px;
  width: 380px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 1px;
  margin-bottom: 20px;
}

#scheduleinfo .ss-title {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  font-color: gray;
}

#scheduleinfo .separate {
  height: 15%;
  width: 100%;
}

#scheduleinfo .separate .s-1 {
  width: 45%;
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 5%;
}

#scheduleinfo .separate .s-2 {
  width: 45%;
  display: inline-block;
  float: right;
  text-align: left;
  margin-left: 5%;
}

#scheduleinfo .separate .s-1 .form-control {
  height: 40px;
  width: 90%;
  display: inline-block;
}

#scheduleinfo .separate .s-2 .form-control {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 90%;
}

#scheduleinfo .date-choice {
  width: 40%;
  height: 15%;
  margin-left: 5%;
  text-align: left;
}

#scheduleinfo .schedule-desc {
  margin-left: 5%;
  text-align: left;
  width: 90%;
}

#scheduleinfo .photo-add {
  height: 180px;
  margin-left: 5%;
  text-align: left;
  width: 90%;
}

#scheduleinfo .photo-add .ss-title {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  font-color: gray;
}

#scheduleinfo .filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  text-align: right;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
}

#scheduleinfo .filebox label:hover {
  color: black;
}

#scheduleinfo .filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#scheduleinfo .filebox .upload-display {
  margin-bottom: 5px;
}

@media ( min-width : 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

#scheduleinfo .filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

#scheduleinfo .filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

#scheduleinfo .photo-add .fileinput-button {
  height: 20%;
  line-height: 100%;
  float: right;
  font: 15px;
  text-align: right;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: #3ACBA3;
  color: white;
  cursor: pointer;
}

#scheduleinfo .photo-add .fileinput-button:hover {
  color: black;
}

#schedulememb {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 530px;
  width: 380px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 1px;
}

#schedulememb .memb-add {
  width: 100%;
  height: 80%;
  overflow: auto;
  overflow-y: scroll;
  text-align: left;
}

#schedulememb .mail-box-cls {
  width: 99%;
  margin: 0 auto;
}

#picarea {
  height: 60px;
  width: 340px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

#schedulememb .form-control {
  height: 40px;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

#scheduleinfo .flatpickr {
  height: 40px;
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
}

#scheduleinfo .form-control-area {
  height: 80px;
  width: 100%;
  border-radius: 3px;
} */