@CHARSET "UTF-8";

    /* 풋터에서 사용하는 css import */
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

    /* 헤더 css 시작 */
#header {
  width:100%;
  border-bottom: 1px solid #ddd;
}
#header .inner_header {
  width: 960px;
  margin: 0 auto;
  position:relative;
  *zoom: 1;
}
#header .inner_header:after {
  content: '';
  display: block;
  clear: both;
}
#header .logo img{
  width:40px;
  height:40px;
  float:left;
  margin-top:5px;
  margin-bottom:5px;
}
#header .svc_name {
  float:left;
  margin-top:6px;
  font-size:25px;
}
#header .svc_name a {
  text-decoration:none;
  color:black;
}
#header #join {
  float:right;
  margin-top:15px;
  margin-left:20px;
}
#header #join a {
  text-decoration:none;
  color:black;
}
#header #login {
  float:right;
  margin-top:15px;
}
#header #login a {
  text-decoration:none;
  color:black;
}
#header #logout {
  float:right;
  margin-top:9px;
  display:none;
}
#header #logout .profile_photo {
  width:30px;
  height:30px;
  background: url("../image/user_profile.jpg") no-repeat 50% 50%;
  background-size: cover;
  border-radius: 50%;
  float:right;
}
#header #logout a {
  text-decoration:none;
  color:black;
  float:right;
  margin-top:3px;
  margin-left:5px;
}



.Pstyle {
 opacity: 0;
 display: none;
 position: relative;
 width: auto;
 border: 5px solid #fff;
 padding: 20px;
 background-color: #fff;
}

.b-close {
 position: absolute;
 right: 5px;
 top: 5px;
 padding: 5px;
 display: inline-block;
 cursor: pointer;
}
    /* 헤더 css 끝 */



    /* 풋터 css 시작 - 2017.02.08 김재녕*/
#div-header {
  width: 100%;
}

#footer {
  clear: left;
  text-align: center;
  background-color: #ECECEC;
}

/*사이트*/
.site {
  width: 960px;
  text-align: center;
  display: inline-block;
}

/*
.logo {
  background-image: ../../image/newlogo.png;
  float: left;
  width: 50px;
}
*/

.site img {
  float: left;
  width: 35px;
  height:35px;
  margin-top:11px;
}

.sns {
  float: right;
  margin-top:5px;
}

/*페이스북*/
.facebook:before {
  font-family:"FontAwesome";
  content: "\f09a";
  color:#b4b4b4;
}
.facebook:hover {
  text-decoration: none;
}
.facebook:hover:before {
  text-decoration: none;
  color: #337AB7;
}
.facebook {
  font-size: 32px;
  text-decoration: none;
}

/*구글*/
.google:before {
  font-family:"FontAwesome";
  content: "\f1a0";
  color:#b4b4b4;
}
.google:hover {
  text-decoration: none;
}
.google:hover:before {
  text-decoration: none;
  color: #EA4335;
}
.google {
  font-size: 32px;
  text-decoration: none;
  margin-left: 5px;
}
    /* 풋터 css 끝 */



#sidebar {
  float:left;
  font-color:black;
  background-color:#EBE9E9; 
  width:180px; 
  height: 780px;
  /* border: 1px solid red; */
}

#sidebar a {
  color: black;
  text-decoration: none;
}

#sidebar a:hover {
  color: navy;
}
    
    
    
/* detail Page 시작 - 2017.02.09 김재녕 */

.detail-info {
	margin: 0 auto;
	height: 300px;
}
.detail-info .headtitle {
	margin: 10px;
	text-align: center;
	height: 60px;
	overflow: hidden;
}
.detail-info .headtitle .stat-span {
	margin: 0;
	display: inline-block;
	float: left;
	line-height: 200%;
	background-color: #42C299;
	font-size: 32px;
	width: 100px;
	height: 100%;
	text-align: center;
}

.detail-info .headtitle .play-title {
  margin: 0;
  display: inline-block;
}

.detail-info > .title-photo {
	margin: 0;
	width: 30%;
	height: 70%;
	float: left;
	overflow: hidden;
}

.d-info {
	margin: 0 auto;
	font-size: large;
}

.member {
	margin: 0 auto;
	height: 200px;
	overflow: hidden;
}

.memb-photo {
	margin: 0 auto;
  width: 100px; height: 100px;
  object-fit: cover;
  object-position: top;
	border-radius: 50%;
}

.swiper-container {
  width: 100%;
  height: 150px;
  margin: 10px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
 }
.swiper-slide:nth-child(2n) {
  width: 40%;
}
.swiper-slide:nth-child(3n) {
  width: 20%;
}

.b-info {
	display: inline-block;
  margin: 0 auto;
  font-size: large;
}

.all-down-btn {
	display: inline-block;
}

.board {
	margin: 0 auto;
	height: 400px;
	overflow: hidden;
}

.board .board-box {
	display: inline-block;
	width: 20%;
	height: 70%;
	border: 2px solid black;
	text-align: center;
}

.board .board-box .board-photo {
	width: 90%;
	height: 50%;
	border: 2px solid blue;
}


/* detail Page 끝 */