@CHARSET "UTF-8";

#sidebar {
  position: absolute;
  float:left;
  color: white;
  padding: 10px 5px;
  margin: 0px;
  background-color:#EBD27E; 
  width:180px; 
  height:700px;
  font-weight:500;
  /* border: 1px solid red; */
}

#sidebar a {
  color: white;
  text-decoration: none;
}

#sidebar a:hover {
  color: navy;
}