/* detail Page 작성 - 2017.03.09 김재녕 */
/* detail Page 수정 - 2017.03.21 김재녕 */

/*************************모임 상세 정보*************************/
#detailContent {
  font-family: '맑은고딕';
  background-color: white;
  color: black;
  width: 960px;
  font-family: "Noto Sans KR", '맑은 고딕', sans-serif;
  margin: 4% auto;
  *zoom: 1;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 멤버, 게시판 문구 */
.member .tit, .board .tit {
	font-size: 26px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #555;
	margin-bottom: 15px;
	padding-bottom: 10px;
	line-height: 1em;
	border-bottom: 1px solid #ddd;
}

/* 모임 영역 */
.detail-info {
	margin: 0 auto;
	height: 300px;
}

/* 모임명 영역 */
.detail-info .headtitle {
	text-align: center;
	height: 20%;
}

/* 모임명 문구 */
#meeting-title {
	font-family: 'Delius Unicase', cursive;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	line-height: normal;
	font-size: xx-large;
	max-width: 99%;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 모임이미지 */
.detail-info>.title-photo {
	margin: 1% 2% auto 0;
	width: 30%;
	height: 70%;
	float: left;
	overflow: auto;
	border-radius: 15px;
	width: 30%;
}

/* 모임 상세 영역 */
.desc-info {
	font-family: 'Josefin Sans', sans-serif;
	margin: 2% 2% auto 0;
	border-left: 2px solid #ddd;
	height: 200px;
	border-left: 2px solid #ddd;
	user-select: all;
	font-size: large;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#final-cont {
  width: 99%;
  height: 90px;
}

/*************************멤버*************************/
.member {
	margin: 0 auto;
	overflow: auto;
}

.member_wrap {
	position: relative;
}

.section.member_wrap:after {
	content: '';
	display: block;
	clear: both;
}

.member_list_wrap {
	float: left;
	width: 900px;
}

.member_list .item {
	float: left;
	width: 70px;
	position: absolute;
	margin-right: 15px;
	margin-bottom: 10px;
	display: none;
}

#btn_toggle_member_list {
	float: right;
	width: 50px;
	height: 50px;
	border: none;
	background: #000;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: all .2s ease;
}

#btn_toggle_member_list:hover {
	background: rgb(247, 104, 0);
	transition: all .2s ease;
}

.member_list {
	float: left;
}

.member_list:after {
	content: '';
	display: block;
	clear: both;
}

.member_list .item {
	float: left;
	width: 70px;
	position: relative;
	margin-right: 15px;
	margin-bottom: 10px;
	display: none;
}

.member_list .item:nth-child(1), .member_list .item:nth-child(2),
	.member_list .item:nth-child(3), .member_list .item:nth-child(4),
	.member_list .item:nth-child(5), .member_list .item:nth-child(6),
	.member_list .item:nth-child(7), .member_list .item:nth-child(8),
	.member_list .item:nth-child(9), .member_list .item:nth-child(10) {
	display: block;
}

.section.member_wrap .member_list_wrap.on .member_list .item {
	display: block;
}

.member_list .item:last-child {
	margin-right: 0;
}

.member_list .item .ico {
	width: 20px;
	height: 20px;
	display: block;
	background: rgb(249, 41, 103);
	position: absolute;
	left: 0;
	top: 0;
}

.member_list .item .profile {
	width: 100%;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
}

.member_list .item .profile img {
	max-width: 100%;
	min-height: 100%;
}

.member_list .item .name {
	text-align: center;
	font-size: 14px;
}

/*************************게시판*************************/
.board {
	margin: 0 auto;
	/* height: 400px; */
	overflow: hidden;
	vertical-align: middle;
}

.board .headtitle {
	position: relative;
	height: 15%;
}

.board .b-info {
	margin: 0 auto;
	font-size: large;
	float: left;
}

/* 게시글 작성 버튼, 검색 div */
.board .search-board {
	margin: 0;
	margin-right: 5%;
	width: 100%;
}

/* 게시글 작성 버튼 */
#boardAddBtn {
	float: left;
	display: inline-block;
	width: 100px;
	height: 50px;
}

.board .search-board form {
	float: right;
	width: auto;
}

.board .search-board:after {
	content: "";
	clear: both;
	display: table
}

.board .search-board input {
	width: 190px;
	height: 42px;
	padding-left: 15px;
	border-radius: 42px;
	border: 2px solid #324b4e;
	background: #F9F0DA;
	outline: none;
	position: relative;
	transition: .3s linear;
}

.board .search-board input:focus {
	width: 300px;
}

.board .search-board .search-btn {
	float: right;
	margin: 0 auto;
	width: 42px;
	height: 42px;
	background: none;
	border: none;
	top: -2px;
	right: 0;
}

.board .search-board .search-btn:before {
	content: "\f002";
	font-family: FontAwesome;
	color: #324b4e;
}

#BoarddataNotFound {
	display: none;
	text-align: center;
}

.dataError {
	font-size: 26px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #555;
	margin-bottom: 15px;
	padding-bottom: 10px;
	line-height: 1em;
}

.swiper-container {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 99%;
	height: 338px;
}

.hot-listing-3 {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	padding: 8px;
	display: block;
	height: 300px;
	overflow: hidden;
}

.left {
	float: left;
}

.photo-test {
	border-radius: 10px;
	background-color: #ddd;
	width: 99%;
	height: 120px;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.board .boTitl {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #008FBE;
	line-height: 1em;
	margin: 15px 0 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bed-bath {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1em;
	color: #2E2A25;
	margin: 8px 0;
	max-width: 200px;
}

.board boCont {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 0.5;
	display: inline;
	overflow: hidden;
}

.inline-image {
	width: 100%;
	height: 100%;
	display: inline-block;
	object-fit: cover;
}

.swiper-scrollbar {
	left: 10% !important;
	bottom: 6px !important;
	width: 80% !important;
	height: 14px !important;
	background-color: #e7e8e3;
}

.swiper-scrollbar-drag {
	background-color: #c5c6c0;
}

.swiper-button-next, .swiper-button-prev {
	transition: all, 0.3s;
	position: absolute;
	top: auto;
	bottom: auto;
	width: 45px;
	height: 26px;
	margin-top: 0;
	z-index: 10;
	cursor: pointer;
	background-color: #18c1de;
	background-size: 8px 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	background-color: #20a7bd;
}

.swiper-button-next {
	right: 0;
	bottom: 0;
	background-image:
		url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDEwIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iNSAwIDAgNSA1IDEwIDYgOSAyIDUgNiAxIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSA2IDApIi8+PC9zdmc+');
}

.swiper-button-prev {
	left: 0;
	bottom: 0;
	background-image:
		url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDEwIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iNSAwIDAgNSA1IDEwIDYgOSAyIDUgNiAxIi8+PC9zdmc+');
}

.swiper-button-prev.swiper-button-disabled {
	opacity: 1.0;
}

.swiper-button-next.swiper-button-disabled {
	opacity: 1.0;
}

/* 게시글 작성 팝업 */
#boardAddModal {
	top: 50%;
	margin-top: -300px;
}

.modal-content {
	width: 690px;
	height: 570px;
}

.modal-body {
	width: 680px;
	height: 565px;
	background-color: white;
	border-radius: 10px;
}

#write {
	font-family: 'Noto Sans KR';
	background-color: #f5f5f5;
	height: 530px;
	width: 650px;
	margin-left: 0px;
}

#write .space {
	font-size: 20px;
}

#write .title {
	font-family: 'Noto Sans KR';
	font-size: 18px;
	font-weight: bold;
	margin-left: 32px;
}

#writeform {
	font-family: 'Noto Sans KR';
	background-color: white;
	height: 450px;
	width: 600px;
	margin-left: 32px;
	margin-top: 10px;
}

#writeform .box {
	margin-left: 30px;
	margin-top: 10px;
}

#writeform .titlename {
	height: 35px;
	width: 530px;
	margin-top: 30px;
	font-size: 12px;
}

#writeform .titlewrite {
	height: 200px;
	width: 530px;
	margin-top: 5px;
	font-size: 12px;
}

#writeform .titlefile {
	height: 100px;
	width: 530px;
	margin-top: 5px;
	font-size: 12px;
}

#writebtn .cancle {
	border-color: #3db394;
	height: 23px;
	width: 100px;
	font-size: 9px;
	background-color: #3db394;
}

#writebtn .save {
	margin-left: 30px;
	background-color: #3db394;
	height: 23px;
	width: 100px;
	font-size: 12px;
	border-bottom-left-radius: 2px;
	borde-color: #cfd1d3;
}

#writeform #cancel-btn {
	margin-left: 380px;
	margin-top: 10px;
}

#writeform #new-btnnn {
	margin-left: 28px;
	margin-top: 10px;
}

/* 게시글 수정 팝업 */
#boardDetailModal {
	top: 50%;
	margin-top: -300px;
}

#new-btnn {
	margin-left: 670px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#board-box {
	margin-top: 20px;
	margin-right: 30px;
	background-color: grey;
	height: 300px;
	width: 230px;
}

#detail_title {
	margin-top: 0px;
	width: 650px;
	height: 40px;
	font-size: 15px;
	background-color: #f5f5f5;
	text-align: left;
	border: 0px;
}

#detail_content {
	width: 630px;
	height: 100px;
	font-size: 12px;
	margin-left: 10px;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	border: 0px;
	margin-top: 10px;
}

.form-horizontal {
	background-color: #f5f5f5;
	margin-top: 10px;
}

#detail_date {
	margin-top: 0px;
	width: 650px;
	height: 12px;
	font-size: 10px;
	color: grey;
	background-color: #f5f5f5;
	text-align: right;
	padding-right: 15px;
	border: 0px;
}

#detail_photo {
	font-size: 15px;
	background-color: #f5f5f5;
	text-align: left;
	padding-top: 0px;
}

.detail_button {
	text-align: left;
	margin-left: 20px;
}

#update-btn {
	margin-left: 440px;
	margin-top: 10px;
}

#delete-btn {
	margin-left: 15px;
	margin-top: 10px;
}

#list-btn {
	margin-left: 15px;
	margin-top: 10px;
}

.author {
	text-align: left;
}

.block-date {
	color: grey;
	font-size: 6px;
}

.post-img-content {
	height: 130px;
}

.col-sm-10 {
	height: 230px;
	margin-left: 10px;
	padding-left: 10px;
	width: 626px;
	padding-top: 15px;
	margin-top: 10px;
	background-color: #ffdad9;
	border-radius: 3px;
}

.download-btn {
	margin-left: 460px;
}

.end_back {
	margin: 2% auto;
	text-align: center;
}