/* detail Page 시작 - 2017.03.06 김재녕 */
.detail-info {
  margin: 0 auto;
  height: 300px;
}

.detail-info .headtitle {
  text-align: center;
  height: 20%;
  overflow: hidden;
}

.detail-info .headtitle .stat-span {
  margin: 0 auto;
  display: inline-block;
  float: left;
  line-height: 200%;
  background-color: #42C299;
  font-size: 32px;
  width: 150px;
  height: 100%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.detail-info .headtitle .play-title {
  margin: 0;
  display: inline-block;
}

.detail-info>.title-photo {
  margin-top: 2%;
  margin-right: 2%;
  width: 30%;
  height: 70%;
  float: left;
  overflow: auto;
  border-radius: 15px;
  width: 30%;
}

.desc-info {
	overflow: auto;
}

.d-info {
  margin: 2% auto;
  font-size: large;
}

.member {
  margin: 0 auto;
  height: 250px;
  overflow: hidden;
}

/**************************************************/

.section.member_wrap {

}

.section.member_wrap:after {
  content:'';
  display: block;
  clear:both;
}

/* .member_list_wrap {
  float:left;
} */


#btn_toggle_member_list {
  float:left;
  /* margin-left:15px; */
  width:70px;
  height:70px;
  border:none;
  background:#000;
  border-radius: 5px;
  color:#fff;
  cursor:pointer;
  transition: all .2s ease;
}

#btn_toggle_member_list:hover {
  background:rgb(247, 104, 0);
  transition: all .2s ease;
}

.member_list {

}

.member_list:after {
  content:'';
  display:block;
  clear:both;
}

.member_list .item {
  float:left;
  width:70px;
  position:relative;
  margin-right:15px;
  margin-bottom:10px;
  display:none;
}

.member_list .item:nth-child(1),
.member_list .item:nth-child(2),
.member_list .item:nth-child(3),
.member_list .item:nth-child(4),
.member_list .item:nth-child(5),
.member_list .item:nth-child(6),
.member_list .item:nth-child(7),
.member_list .item:nth-child(8),
.member_list .item:nth-child(9),
.member_list .item:nth-child(10) {
  display:block;
}

.section.member_wrap .member_list_wrap.on .member_list .item {
  display:block;
}

.member_list .item:last-child {
  margin-right:0;
}

.member_list .item .ico {
  width:20px;
  height:20px;
  display:block;
  background:rgb(249, 41, 103);
  position:absolute;
  left:0;
  top:0;
}

.member_list .item .profile {
  width:100%;
  height:70px;
  border-radius:50%;
  overflow:hidden;
  margin-bottom:10px;
}

.member_list .item .profile img {
  max-width:100%;
  min-height: 100%;
}

.member_list .item .name {
  text-align:center;
  font-size:14px;
}

/**************************************************/

.memb-photo {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.member .swiper-container {
  width: 100%;
  height: 150px;
  margin: 10px auto;
}

.member .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.member .swiper-slide:nth-child(2n) {
  width: 40%;
}

.member .swiper-slide:nth-child(3n) {
  width: 20%;
}

.board {
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  vertical-align: middle;
}

.board .headtitle {
  position: relative;
  height: 15%;
}

.board .b-info {
  margin: 0 auto;
  font-size: large;
  float: left;
}

.board .search-board {
  margin: 0 auto;
  float: right;
  /* background: #7BA7AB; */
  width: 40%;
}

.board .search-board form {
  float: right;
  width: auto;
}

.board .search-board:after {
  content:"";
  clear:both;
  display:table
}

.board .search-board input {
  width: 100px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}

.board .search-board input:focus {
  width: 300px;
}

.board .search-board button {
  float:right;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  top: -2px;
  right: 0;
}

.board .search-board button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}

.board .all-down-btn {
  margin-right: 5px;
  font-size: 32px;
  text-decoration: none;
  float: right;
}

.board .all-down-btn:before {
  font-family: "FontAwesome";
  content: "\f019";
  color: #b4b4b4;
}

.board .all-down-btn:hover {
  text-decoration: none;
}

.board .all-down-btn:hover:before {
  text-decoration: none;
  color: #EA4335;
}

.board .board-box {
  bottom: 10%;
  display: inline-block;
  width: 90%;
  height: 60%;
  border: 1px solid black;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}

.board .board-box:HOVER {
  cursor: pointer;
}

.board .board-box .board-photo {
  margin: 5% auto;
  width: 80%;
  height: 40%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.board .swiper-container {
  top: 10px;
  width: 100%;
  height: 80%;
  margin-top: 0;
  margin-bottom: 5%;
}

.board .swiper-wrapper {
  margin: 0;
}

.board .swiper-slide {
  margin: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.board .swiper-slide:nth-child(2n) {
  width: 100%;
}

.board .swiper-slide:nth-child(3n) {
  width: 100%;
}
