#meeting_ready {
  padding:5px;
}

#meeting_ready > .tit {
  font-size:30px;
  font-weight:bold;
}

#meeting_ready .meeting_info {
  margin-top:25px;
  border-left: 2px solid #ddd;
  padding-left:10px;
  margin-bottom:15px;
}

#meeting_ready .meeting_info > .date {
  margin-bottom:4px;
}

#meeting_ready .meeting_info > .date,
#meeting_ready .meeting_info > .member {
  font-size:20px;
  font-weight:bold;
  color:#444;
}

#meeting_ready .section {
  margin-top:30px;
}

#meeting_ready .section > .tit {
  font-size:26px;
  margin-bottom:15px;
  font-weight:bold;
  color:#555;
  margin-bottom:15px;
  padding-bottom:10px;
  line-height:1em;
  border-bottom:1px solid #ddd;
}

#meeting_ready .section.member_wrap {

}

#meeting_ready .section.member_wrap:after {
  content:'';
  display: block;
  clear:both;
}

#meeting_ready .section.member_wrap .member_list_wrap {
  float:left;
}

#meeting_ready .section.member_wrap #btn_toggle_member_list {
  float:left;
  margin-left:15px;
  width:70px;
  height:70px;
  border:none;
  background:#000;
  border-radius: 5px;
  color:#fff;
  cursor:pointer;
  transition: all .2s ease;
}

#meeting_ready .section.member_wrap #btn_toggle_member_list:hover {
  background:rgb(247, 104, 0);
  transition: all .2s ease;
}

.member_list {

}

.member_list:after {
  content:'';
  display:block;
  clear:both;
}

.member_list .item {
  float:left;
  width:70px;
  position:relative;
  margin-right:15px;
  margin-bottom:10px;
  display:none;
}

.member_list .item:nth-child(1),
.member_list .item:nth-child(2),
.member_list .item:nth-child(3),
.member_list .item:nth-child(4),
.member_list .item:nth-child(5),
.member_list .item:nth-child(6),
.member_list .item:nth-child(7),
.member_list .item:nth-child(8),
.member_list .item:nth-child(9),
.member_list .item:nth-child(10) {
  display:block;
}

#meeting_ready .section.member_wrap .member_list_wrap.on .member_list .item {
  display:block;
}

.member_list .item:last-child {
  margin-right:0;
}

.member_list .item .ico {
  width:20px;
  height:20px;
  display:block;
  background:rgb(249, 41, 103);
  position:absolute;
  left:0;
  top:0;
}

.member_list .item .profile {
  width:100%;
  height:70px;
  border-radius:50%;
  overflow:hidden;
  margin-bottom:10px;
}

.member_list .item .profile img {
  max-width:100%;
  min-height: 100%;
}

.member_list .item .name {
  text-align:center;
  font-size:14px;
}

#meeting_ready .section.date_result,
#meeting_ready .section.place_result {

}

#meeting_ready .section.date_result .result_list,
#meeting_ready .section.place_result .result_list {

}

#meeting_ready .section.date_result .result_list .item,
#meeting_ready .section.place_result .result_list .item {
  background-color:#999;
  color:#fff;
  padding:15px;
  cursor:pointer;
  margin-bottom:1px;
  font-weight:bold;
}

#meeting_ready .section.date_result .result_list .item:hover,
#meeting_ready .section.place_result .result_list .item:hover,
#meeting_ready .section.date_result .result_list .item.on,
#meeting_ready .section.place_result .result_list .item.on {
  background-color:rgb(186, 249, 7);
  color:#000;
  transition: all 1s ease;
}

#meeting_ready .section.date_result .result_list .item:last-child,
#meeting_ready .section.place_result .result_list .item:last-child {
  margin-bottom:none;
}

#meeting_ready .section.date_result .result_list .item:after,
#meeting_ready .section.place_result .result_list .item:after {
  content:'';
  display:block;
  clear:both;
}

#meeting_ready .section.date_result .result_list .item .info1,
#meeting_ready .section.place_result .result_list .item .info1 {
  float:left;
  font-wieght:bold;
}

#meeting_ready .section.date_result .result_list .item .info2,
#meeting_ready .section.place_result .result_list .item .info2 {
  float:right;
}

#meeting_ready .btn_ready {
  width: 346px;
  margin: 80px auto 50px auto;
}

#meeting_ready #btn_ok {
  /*border-radius: 10px;*/
  /*border-style: solid;*/
  /*border-width:2px;*/
  /*border-color: grey;*/
  /*background-color : #3ACBA3;*/
  /*color: white;*/
  /*font-size:20px;*/
  /*width:120px;*/
  /*height:40px;*/
  margin-right: 100px;
  margin-left: 50px;
}

/*#meeting_ready #btn_back {*/
  /*border-radius: 10px;*/
  /*border-style: solid;*/
  /*border-width:2px;*/
  /*border-color: grey;*/
  /*background-color : #3ACBA3;*/
  /*color: white;*/
  /*font-size:20px;*/
  /*width:120px;*/
  /*height:40px;*/
/*}*/