#content .view_my_meeting {
  margin-top: 20px;
}
#content .view_my_meeting > .tit {
  display: inline-block;
  font-size: 30px;
  color: #333;
  position: relative;
  margin-left:1%;
  margin-right: 20px;
  margin-bottom: 30px;
}
#content .view_my_meeting > .tit:after {
  display: inline-block;
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  right: -40px;
  top: -1px;
  /*background: url("../../image/mylist/ico_calendar.png") no-repeat 50% 50%;*/
  background-size: cover;
}
#content .view_my_meeting select {
  /*float:left;*/
  /*margin:25px 1% 0px 10px;*/
}
#content .view_my_meeting h4 {
  /*float:left;*/
  display:inline-block;
  /*margin-top:25px;*/
  margin-left: 30px;
}
#content .view_my_meeting button {
  /*float:left;*/
  /*margin-top: 21px;*/
  margin-left: 525px;
  /*border-radius: 10px;*/
  /*border-style: solid;*/
  /*border-width:2px;*/
  /*border-color: grey;*/
  /*background-color : #3ACBA3;*/
  /*color: white;*/
  /*font-size:15px;*/
  /*width:80px;*/
  /*height:30px;*/
}
#content .view_my_meeting .meeting_list {
  *zoom: 1;
  font-family: "RixSGo B";
}
#content .view_my_meeting .meeting_list:after {
  content: '';
  display: block;
  clear: both;
}
#content .view_my_meeting .meeting_list > .item {
  width: 31.33%;
  float: left;
  background: #fff;
  margin: 0 1% 20px;
}
#content .view_my_meeting .meeting_list > .item > a {
  display: block;
  text-decoration: none;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_image {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #ddd;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_image_empty {
  width: 100%;
  height: 310px;
  position: relative;
  background-color: white;
  border:1px dashed black;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_image.default_a {
  background: url("../../image/mylist/bg_default_a.jpg") no-repeat 50% 50%;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_image.default_b {
  background: url("../../image/mylist/bg_default_b.jpg") no-repeat 50% 50%;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_image .meeting_owner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info {
  padding: 15px;
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-left:1px solid black;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info.ing {
  /*background-color: #efefef;*/
  background-color: rgba(182, 161, 158, 0.1);
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info.wait {
  background-color: rgba(182, 161, 158, 0.5);
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info.fin {
  /*background-color: rgba(254, 220, 61, 0.3);*/
  background-color: rgba(182, 161, 158, 1.0);
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info > .tit {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info .participation_member_info {
  text-align: right;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info .meeting_info_list {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding-top: 5px;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info .meeting_info_list .item {
  line-height: 1em;
  margin: 5px 0;
  font-size: 14px;
}
#content .view_my_meeting .meeting_list > .item > a .meeting_info .meeting_info_list .item > .tit {
  font-weight: bold;
  color: #666;
}
