@CHARSET "UTF-8";

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

#nextPgBtn {
  width: 750px;
  height :35px;
  display: inline-block;
  padding: 10px;
  background-color: #778899;
  color: #fff;
  font-size: 0.9em;
  margin-top :10px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}
#board {
  height :700px;
}
.card-cont{
	height: 18px;
}
.pre-scrollable{
	max-height: 600px;
	overflow-x: hidden;
}
.modal-content {
	width: 690px;
  height: 570px;
  width: 680px;
  height: 565px;
  top: 50%;
  margin-top: 150px;
}
#write {
	font-family: 'Noto Sans KR';
	background-color: #f5f5f5;
	height:530px;
	width:650px;
	margin-left: 0px;
}
#write .space {
  font-size: 20px;
}
#write .title {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: bold;
  margin-left: 32px;
}

#writeform {
	font-family: 'Noto Sans KR';
  background-color: white;
  height:450px;
  width:600px;
  margin-left: 32px;
  margin-top: 10px;
}
#writeform .box {
	margin-left: 30px;
  margin-top: 10px;
}
#writeform .titlename {
  height: 35px;
  width: 530px;
  margin-top: 30px;
  font-size: 12px;
}
#writeform .titlewrite {
  height: 200px;
  width: 530px;
  margin-top: 5px;
  font-size: 12px;
}
#writeform .titlefile {
  height: 100px;
  width: 530px;
  margin-top: 5px;
  font-size: 12px;
}
#writebtn .cancle {
  border-color: #3db394;
  height: 23px;
  width: 100px;
  font-size: 9px;
  background-color: #3db394;
}
#writebtn .save {
  margin-left: 30px;
  background-color :#3db394;
  height: 23px;
  width: 100px;
  font-size: 12px;
  border-bottom-left-radius :2px;
  borde-color: #cfd1d3;
}
#writeform #cancel-btn {
  margin-left: 380px;
  margin-top: 10px;
  /*height: 25px;*/
  /*width: 100px;*/
  /*font-size: 12px;*/
  /*color:#3db394;*/
  /*border-color: #3db394;*/
  /*background-color: white;*/
}
#writeform #new-btnnn {
  margin-left: 28px;
  margin-top: 10px;
  /*height: 25px;*/
  /*width: 100px;*/
  /*font-size: 12px;*/
  /*border-color: #3db394;*/
  /*background-color: #3db394;*/
}
.modal-body {
	position:relative;
	width:680px;
	height: 565px;
	background-color: white;
	border-radius: 10px;
}
#new-btnn {
  margin-left :670px;
  margin-top: 3px;
  margin-bottom: 10px;
  /*height: 25px;*/
  /*width: 100px;*/
  /*font-size: 12px;*/
  /*border-color: #3db394;*/
  /*background-color: #3db394;*/
}
#board-box{
  margin-top: 20px;
  margin-right: 30px;
  background-color: grey;
  height:300px;
  width:230px;
}
.title {
	font-size: 20px;
}
#detail_title {
	margin-top : 0px;
	width :650px;
	height : 40px;
    font-size: 15px;
    background-color: #f5f5f5;
    text-align : left;
    border: 0px;
}
#detail_content {
	width: 630px;
	height :100px;
	font-size:12px;
	margin-left : 10px;
	background-color: #f5f5f5;
	border-color : #f5f5f5;
	border: 0px;
	margin-top:10px;
}
.form-horizontal {
  background-color: #f5f5f5;
  margin-top: 10px;
}
#detail_date {
  margin-top : 0px;
  width :650px;
  height : 12px;
  font-size: 10px;
  color: grey;
  background-color: #f5f5f5;
  text-align : right;
  padding-right:15px;
  border: 0px;
}
#detail_photo {
    font-size: 15px;
    background-color: #f5f5f5;
    text-align : left;
    padding-top : 0px;
}
.detail_button{
	text-align : left;
	margin-left : 20px;
}
#update-btn {
  margin-left : 440px;
  margin-top: 10px;
  /*height: 25px;*/
  /*width: 70px;*/
  /*font-size: 12px;*/
  /*border-color: #3db394;*/
  /*background-color: #3db394;*/
}
#delete-btn {
  margin-left : 10px;
  margin-top: 10px;
  /*height: 25px;*/
  /*width: 70px;*/
  /*font-size: 12px;*/
  /*border-color: #3db394;*/
  /*background-color: #3db394;*/
}
#list-btn {
  margin-left : 10px;
  margin-top: 10px;
  /*height: 25px;*/
  /*width: 70px;*/
  /*font-size: 12px;*/
  /*border-color: #3db394;*/
  /*background-color: #3db394;*/
}
.author {
	text-align : left;
	height: 40px;
	padding-bottom: 10px;
}
.block-date {
	color :grey;
	font-size: 6px;
}
.post-img-content {
	height: 130px;
}
.col-sm-10{
	height : 230px;
	margin-left :10px;
	padding-left : 10px;
	width :626px;
	padding-top:15px;
	margin-top: 10px;
	background-color : #eeeeee;
	border-radius: 3px;
}

.download-btn {
	margin-left: 460px;
	/*height :20px;*/
	/*width : 100px;*/
	/*font-size: 10px;*/
}